/* This file is for your main application css. */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	color: #424242;
	background-color: rgb(246, 248, 250);
	position: relative;
	min-height: 100%;
	margin: 0;
    padding-bottom: 6rem;
}

a {
	color: #424242;
}


#mute-toggle {
	font-size: 20px;
	position: absolute;
	text-align: right;
	margin-top: 5px;
}

#cover {
	height: 100%;
	width: 80%;
}

#sidebars {
	background-color: rgb(0, 0, 0);
}

.container-fluid {
	padding: 0px;
}

.video-container {
	position:relative;
	padding-bottom:46.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media (max-width: 960px) {
	#cover {
		height: 100%;
		width: 100%;
	}
}


.navigation {
	display: inline-block;
}

.navigation > a:hover {
	text-decoration: none;
	padding-bottom: 4px;
	border-bottom: 3px solid #424242;
	color: #424242;
}


.footer {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
    text-align: center;
}

#footer {
	font-size: 10px;
}

#info{
	color: rgb(241, 241, 241);
	font-weight: bold;
	text-align:center;
	margin-top: 50px;
}

#tweetcontainer{
	background: white;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	height: 90px;
}

.YNTBS{
	display: inline-block;
	font-size: 220%;
	letter-spacing: -3px;
	font-weight: bold;
	font-family: Georgia, Serif;
}

#navigationbar{
	display: inline-block;
	margin-top: 0px;
	padding-left: 0px;
}

#logobg {
	display: inline-block;
	border-radius: 10px;
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	user-select: none;
    -webkit-user-select: none;
}

#logininfo {
	display: inline-block;
	text-align: center;
}

#sign {
	font-size: 300%;
}

#links{
	display: inline-block;
	float: right;
}

#twitter-logo{
	width: 40px;
	height: 40px;
	display: inline-block;
}

#tweetuser {
	display: inline-block;
	font-size: 18px;
}

#bs {
	font-size: 100%;
	display: inline-block;
	padding-left: 0px;
	list-style-type: none;
	line-height: 12px;
	letter-spacing: 0px;
}

#toggles-container {
	padding-top: 12px;
}

#scheduleheader {
	text-align: center;
	padding: 50px;
	font-size: 24px;
}

#timezone {
	font-style: italic;
	font-size: 11px;
}

th {
	font-weight: normal;
}